@title-color:var(--titleColor,#333333);
@background-color:var(--backgroundColor,#f4f5f5);
@background-color-op:var(--backgroundColorOp,rgba(244, 245, 245,.8));
@border-ra:var(--borderRadius,.5em);
@background-btn:var(--backgroundBtn,rgba(255, 255, 255, .6));
@background-modle:var(--backgroundModle,rgba(255, 255, 255, .3));
@font-color:var(--fontColor,#000);
@block-hover-bk:var(--blockHoverBk,#E4E7ED);
@box-sh:var(--boxShadow,'0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important');
