@title-color:var(--titleColor,#333333);
@background-color:var(--backgroundColor,#f4f5f5);
@border-ra:var(--borderRadius,.5em);
@background-btn:var(--backgroundBtn,rgba(255, 255, 255, .6));
@background-modle:var(--backgroundModle,rgba(255, 255, 255, .3));
@font-color:var(--fontColor,#000);